/**
 * Css styles for google maps shortcode.
 */
.property-infobubble-content {
	width: 300px;
	height: 300px;
}

.infobubble-property-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(67, 74, 84);
}

.property-infobubble-content div a {
	text-decoration: none;
}

.property-infobubble-content div a:hover {
	color: #3C90BE;
}

.property-infobubble-content .icon-value {
    font-size: 14px;
    font-weight: bold;
    color: #768082;
}

.property-infobubble-content .property-type-status {
	font-size: 14px;
	font-weight: bold;
	color: #768082;
}

.property-infobubble-content .property-feature-icons{
	margin-top: 15px;
	border-top: 1px solid #F0F0F0;
}
